
        <div class="header-top">
            <p class="header-top-text">Christmas orders now open • Gifts from £20 • UK-wide delivery</p>
        </div>
   
   
   
   <header class="main-header">
            <div class="w-layout-blockcontainer container w-container">
                <div class="header-main-box">
                    <a href="/" aria-current="page" class="header-logo-link w-inline-block w--current">
                        <p class="header-logo-text">Preye's</p>
                    </a>
                    <div class="header-menu-box"><a href="/" class="header-menu-link w-inline-block w--current">
                            <p class="header-menu-text">Home</p>
                        </a><a href="/christmas/hampers/" class="header-menu-link w-inline-block">
                            <p class="header-menu-text">Christmas Hampers</p>
                        </a><a href="/corporate" class="header-menu-link w-inline-block">
                            <p class="header-menu-text">Corporate</p>
                        </a><a href="/christmas/festive-naija" class="header-menu-link w-inline-block">
                            <p class="header-menu-text">Festive Naija</p>
                        </a><a href="/about" class="header-menu-link w-inline-block">
                            <p class="header-menu-text">About us</p>
                        </a></div>

                        
      <div class="header-btn-box">
  <!-- OUR SIMPLE CART BUTTON (NAV) -->
  <button
    type="button"
    id="cart-open-button"
    class="shopping-cart-btn"
    aria-label="Open cart"
  >
    <img
      loading="lazy"
      src="https://cdn.prod.website-files.com/68d40147877fa1b7a07fd6b5/68d57f1baaebbaa147809299_shopping-cart%20(1).avif"
      alt="Shopping cart"
      class="shopping-cart-icon"
    >
    <div
      id="nav-cart-count"
      class="w-commerce-commercecartopenlinkcount shopping-cart-quantity"
    >
      0
    </div>
  </button>

  <!-- KEEP: Account icon -->
  <div
    data-w-id="17beb0a1-5fd9-44d3-4b1d-4a6b1a9e5be9"
    class="account-login-button"
  >
    <img
      loading="lazy"
      src="https://cdn.prod.website-files.com/68d40147877fa1b7a07fd6b5/690843a898659d321f333403_user%20(2).avif"
      alt=""
      class="account-login-icon"
    >
  </div>

  <!-- KEEP: Mobile menu (hamburger) -->
  <div
    data-w-id="17beb0a1-5fd9-44d3-4b1d-4a6b1a9e5beb"
    class="mobile-menu-open-btn"
  >
    <div class="header-menu-icon"></div>
  </div>
</div>

                 
                </div>
            </div>
            <div class="mobile-menu-outer" style="display: none;">
                <div class="bg mobile-menu-bg" style="transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                <div class="mobile-menu" style="transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    <div class="mobile-logo-box">
                            <a href="/" aria-current="page" class="header-logo-link w-inline-block w--current">
                            <p class="header-logo-text" style="color: #927AD9">Preye's Baskets</p>
                        </a><img data-w-id="17beb0a1-5fd9-44d3-4b1d-4a6b1a9e5bf5" loading="lazy" alt="" src="https://cdn.prod.website-files.com/68d40147877fa1b7a07fd6b5/6908430fb1d06f38e4eb3ab1_close%20(2).png" class="mobile-menu-close-btn"></div>
                    <div class="mobile-menu-box"><a href="#Hero-Section" data-w-id="17beb0a1-5fd9-44d3-4b1d-4a6b1a9e5bf7" class="mobile-dropdown-link w-inline-block w--current">
                            <div class="mobile-dropdown-title">Home</div>
                        </a><a href="/christmas/hampers/" data-w-id="17beb0a1-5fd9-44d3-4b1d-4a6b1a9e5bfa" class="mobile-dropdown-link w-inline-block">
                            <div class="mobile-dropdown-title">Christmas Hampers</div>
                        </a>
                            <a href="/christmas/festive-naija/" data-w-id="ce2df17d-34b1-b04e-e4f0-fa3c66028d0d" class="mobile-dropdown-link w-inline-block">
                            <div class="mobile-dropdown-title">Festive Naija</div>
                        </a>
                            <a href="/corporate" data-w-id="17beb0a1-5fd9-44d3-4b1d-4a6b1a9e5c00" class="mobile-dropdown-link w-inline-block">
                            <div class="mobile-dropdown-title">Corporate Packages</div>
                        </a>
                            <a href="/birthdays" data-w-id="17beb0a1-5fd9-44d3-4b1d-4a6b1a9e5c03" class="mobile-dropdown-link w-inline-block">
                            <div class="mobile-dropdown-title">Birthdays</div>
                        </a>
                            <a href="/about" data-w-id="17beb0a1-5fd9-44d3-4b1d-4a6b1a9e5c03" class="mobile-dropdown-link w-inline-block">
                            <div class="mobile-dropdown-title">About us</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="account-login-sidebar" style="transform: translate3d(100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                <div class="account-sidebar-header">
                    <p class="account-sidebar-header-text">Sign in</p>
                    <div data-w-id="17beb0a1-5fd9-44d3-4b1d-4a6b1a9e5c0a" class="account-sidebar-close-btn"><img loading="lazy" src="https://cdn.prod.website-files.com/68d40147877fa1b7a07fd6b5/68d57ef99f220e21f438212f_close.png" alt="" class="account-sidebar-close-icon">
                        <p class="account-sidebar-close-text">Close</p>
                    </div>
                </div>
                <div class="account-sidebar-form-box">
                    <div class="account-login-form-block w-form w-form-loading">
                        <form id="wf-form-Account-Login-Form" name="wf-form-Account-Login-Form" data-name="Account Login Form" method="get" class="account-login-form" data-wf-page-id="68d40149877fa1b7a07fd732" data-wf-element-id="17beb0a1-5fd9-44d3-4b1d-4a6b1a9e5c10" data-turnstile-sitekey="0x4AAAAAAAQTptj2So4dx43e" aria-label="Account Login Form">
                            <div class="account-login-form-group"><label for="Login-Email" class="account-login-label">Username or email address *</label><input class="account-login-input w-input" maxlength="256" name="Email" data-name="Email" placeholder="" type="email" id="Login-Email" required=""></div>
                            <div class="account-login-form-group"><label for="Login-Password" class="account-login-label">Password *</label><input class="account-login-input w-input" maxlength="256" name="Password" data-name="Password" placeholder="" type="password" id="Login-Password" required=""></div><input type="submit" data-wait="Please wait..." class="account-login-btn w-button w-form-loading" value="Log in" disabled="">
                            <div class="account-login-form-footer"><label class="w-checkbox account-login-checkbox-field"><input type="checkbox" name="checkbox" id="checkbox" data-name="Checkbox" class="w-checkbox-input account-login-checkbox"><span class="account-login-checkbox-label w-form-label" for="checkbox">Remember me</span></label><a href="#" class="account-login-forget-pass-link w-inline-block">
                                    <p class="account-login-forget-pass-text">Lost your password?</p>
                                </a></div>
                            <div class="account-login-dvider-box">
                                <div class="account-login-dvider"></div>
                                <p class="account-login-dvider-text">Or login with</p>
                                <div class="account-login-dvider"></div>
                            </div>
                            <div class="account-login-social-box"><a href="https://www.facebook.com/" target="_blank" class="account-login-social-button facebook w-inline-block"><img loading="lazy" src="https://cdn.prod.website-files.com/68d40147877fa1b7a07fd6b5/68d57ef99f220e21f4382131_facebook.png" alt="" class="account-login-social-button-icon">
                                    <div class="account-login-social-button-text">Facebook</div>
                                </a><a href="https://www.google.com/" target="_blank" class="account-login-social-button google w-inline-block"><img loading="lazy" src="https://cdn.prod.website-files.com/68d40147877fa1b7a07fd6b5/68d57ef99f220e21f4382133_google.avif" alt="" class="account-login-social-button-icon">
                                    <div class="account-login-social-button-text">Google<br></div>
                                </a></div>
                            <div>
                                <div><template shadowrootmode="closed"><iframe src="https://challenges.cloudflare.com/cdn-cgi/challenge-platform/h/b/turnstile/f/ov2/av0/rch/tfnpx/0x4AAAAAAAQTptj2So4dx43e/auto/fbE/new/normal?lang=auto" allow="cross-origin-isolated; fullscreen; autoplay" sandbox="allow-same-origin allow-scripts allow-popups" id="cf-chl-widget-tfnpx" tabindex="-1" title="Widget containing a Cloudflare security challenge" aria-hidden="true" style="border: none; overflow: hidden; width: 0px; height: 0px; position: absolute; visibility: hidden;"></iframe></template><input type="hidden" name="cf-turnstile-response" id="cf-chl-widget-tfnpx_response"></div>
                            </div>
                        </form>
                        <div class="account-login-success-message w-form-done" tabindex="-1" role="region" aria-label="Account Login Form success">
                            <div class="account-login-success-text">Thank you! Your submission has been received!</div>
                        </div>
                        <div class="account-login-error-message w-form-fail" tabindex="-1" role="region" aria-label="Account Login Form failure">
                            <div>Oops! Something went wrong while submitting the form.</div>
                        </div>
                    </div>
                </div>
                <div class="account-sidebar-footer"><img loading="lazy" src="https://cdn.prod.website-files.com/68d40147877fa1b7a07fd6b5/68d57ef99f220e21f4382135_user%20(2).avif" alt="" class="account-sidebar-footer-icon">
                    <p class="account-sidebar-footer-text">No account yet?</p>
                    <p data-w-id="17beb0a1-5fd9-44d3-4b1d-4a6b1a9e5c3b" class="account-sidebar-footer-link-text">Create an Account</p>
                </div>
            </div>
            <div class="account-signup-sidebar" style="transform: translate3d(100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                <div class="account-sidebar-header">
                    <p class="account-sidebar-header-text">Create Account</p>
                    <div data-w-id="17beb0a1-5fd9-44d3-4b1d-4a6b1a9e5c41" class="account-sidebar-close-btn"><img loading="lazy" src="https://cdn.prod.website-files.com/68d40147877fa1b7a07fd6b5/68d57ef99f220e21f438212f_close.png" alt="" class="account-sidebar-close-icon">
                        <p class="account-sidebar-close-text">Close</p>
                    </div>
                </div>
                <div class="account-sidebar-form-box">
                    <div class="account-login-form-block w-form w-form-loading">
                        <form id="wf-form-Account-Signup-Form" name="wf-form-Account-Signup-Form" data-name="Account Signup Form" method="get" class="account-login-form" data-wf-page-id="68d40149877fa1b7a07fd732" data-wf-element-id="17beb0a1-5fd9-44d3-4b1d-4a6b1a9e5c47" data-turnstile-sitekey="0x4AAAAAAAQTptj2So4dx43e" aria-label="Account Signup Form">
                            <div class="account-login-form-group"><label for="Signup-Name" class="account-login-label">Full Name *</label><input class="account-login-input w-input" maxlength="256" name="Email-8" data-name="Email 8" placeholder="" type="email" id="Signup-Name" required=""></div>
                            <div class="account-login-form-group"><label for="Signup-Email" class="account-login-label">Email address *</label><input class="account-login-input w-input" maxlength="256" name="Email-8" data-name="Email 8" placeholder="" type="email" id="Signup-Email" required=""></div>
                            <div class="account-login-form-group"><label for="Signup-Password" class="account-login-label">Password *</label><input class="account-login-input w-input" maxlength="256" name="Password-2" data-name="Password 2" placeholder="" type="password" id="Signup-Password" required=""></div><input type="submit" data-wait="Please wait..." class="account-login-btn w-button w-form-loading" value="Sign Up" disabled="">
                            <div class="account-login-dvider-box">
                                <div class="account-login-dvider"></div>
                                <p class="account-login-dvider-text">Or Signup with</p>
                                <div class="account-login-dvider"></div>
                            </div>
                            <div class="account-login-social-box"><a href="https://www.facebook.com/" target="_blank" class="account-login-social-button facebook w-inline-block"><img loading="lazy" src="https://cdn.prod.website-files.com/68d40147877fa1b7a07fd6b5/68d57ef99f220e21f4382131_facebook.png" alt="" class="account-login-social-button-icon">
                                    <div class="account-login-social-button-text">Facebook</div>
                                </a><a href="https://www.google.com/" target="_blank" class="account-login-social-button google w-inline-block"><img loading="lazy" src="https://cdn.prod.website-files.com/68d40147877fa1b7a07fd6b5/68d57ef99f220e21f4382133_google.avif" alt="" class="account-login-social-button-icon">
                                    <div class="account-login-social-button-text">Google<br></div>
                                </a></div>
                            <div>
                                <div><template shadowrootmode="closed"><iframe src="https://challenges.cloudflare.com/cdn-cgi/challenge-platform/h/b/turnstile/f/ov2/av0/rch/oq72j/0x4AAAAAAAQTptj2So4dx43e/auto/fbE/new/normal?lang=auto" allow="cross-origin-isolated; fullscreen; autoplay" sandbox="allow-same-origin allow-scripts allow-popups" id="cf-chl-widget-oq72j" tabindex="-1" title="Widget containing a Cloudflare security challenge" aria-hidden="true" style="border: none; overflow: hidden; width: 0px; height: 0px; position: absolute; visibility: hidden;"></iframe></template><input type="hidden" name="cf-turnstile-response" id="cf-chl-widget-oq72j_response"></div>
                            </div>
                        </form>
                        <div class="account-login-success-message w-form-done" tabindex="-1" role="region" aria-label="Account Signup Form success">
                            <div class="account-login-success-text">Thank you! Your submission has been received!</div>
                        </div>
                        <div class="account-login-error-message w-form-fail" tabindex="-1" role="region" aria-label="Account Signup Form failure">
                            <div>Oops! Something went wrong while submitting the form.</div>
                        </div>
                    </div>
                </div>
                <div class="account-sidebar-footer"><img loading="lazy" src="https://cdn.prod.website-files.com/68d40147877fa1b7a07fd6b5/68d57ef99f220e21f4382135_user%20(2).avif" alt="" class="account-sidebar-footer-icon">
                    <p class="account-sidebar-footer-text">Already have an account?</p>
                    <p data-w-id="17beb0a1-5fd9-44d3-4b1d-4a6b1a9e5c6e" class="account-sidebar-footer-link-text">Login Account</p>
                </div>
            </div>
            <div class="bg account-sidebar-overlay" style="opacity: 1;"></div>
        </header>
