<!DOCTYPE html>
<html 
  data-wf-domain="boltzmenn.com"
  data-wf-page="68d40149877fa1b7a07fd732"
  data-wf-site="68d40147877fa1b7a07fd6b5"
  data-wf-status="1"
  lang="en"
  class="w-mod-js">

  <head>
    {% include head.html %}
  </head>

  <body class="body">
    <div class="page-wrapper">
      {% include header.html %}

      {{ content }}

      {% include footer.html %}
    </div>

    <!-- put your existing scripts from the bottom of index.html here: -->
     
    <!-- any extra JS you had -->
  </body>
</html>
